/*Plugin: All-in-One-Gallery*/
/*Content: CSS for the Exclude images from a category */
/*Author: Thomas Michalak aka TM*/
/*Author URI: http://www.fuck-dance-lets-art.com*/
 .wrapper{
    width:510px;
    float:left;
}
.wrapper h3{
display:block;
clear:both;
}

.wrapper ul{
float:left;
margin:0 0 20px 0;
width:510px;
}

.wrapper ul li{
display:inline;
float:left;
margin:5px;
padding:0;
width:160px;
}

.wrapper ul li img{
padding:4px;
margin:0;
background:#FFF;
border:solid 1px #ccc;
width:150px;
height:150px;
}

.wrapper ul li p label, .wrapper ul li p input{
    padding:0 5px;
    margin:0;
}
.wrapper ul li p{
    text-align:center;
    margin:2px auto 0;
    width:158px;
    background:#EFEFEF;
    padding:2px 0;
    border:solid 1px #ccc;
}
#saveExclude{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:#EFEFEF;
    margin:0 !important;
    border-top:1px solid #666666;
}
#saveExclude input{
	margin-left:15px;
}